page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $yy-bg;
}

@font-face {
  font-family: 'yyfont';  /* Project id 3127085 */
  src: url('//at.alicdn.com/t/font_3127085_nqjqmuhi8fm.woff2?t=1641663601676') format('woff2'),
       url('//at.alicdn.com/t/font_3127085_nqjqmuhi8fm.woff?t=1641663601676') format('woff'),
       url('//at.alicdn.com/t/font_3127085_nqjqmuhi8fm.ttf?t=1641663601676') format('truetype');
}

.yyfont {
  font-family: "yyfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
