//----------------- 主题 -----------------
.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}
.bg-navigation {
	background-color: #ededed;
}
.bg-main {
	background-color: #07c160;
}
.bg-lightmain {
	background-color: #95ec69;
}
.c-second {
	color: #a7a7a7;
}
.c-lightmain {
	color: #95ec69;
}
.c-main {
	color: #07c160;
}
.border-list {
	border-bottom-width: 1px;
	border-bottom-color: #f0f0f0;
}
//----------------- 尺寸 -----------------
.h60 {
	height: 60rpx;
}
.h76 {
	height: 76rpx;
}
.w80 {
	width: 80rpx;
}
.h80 {
	height: 80rpx;
}
.w90 {
	width: 90rpx;
}
.h90 {
	height: 90rpx;
}
.w100 {
	width: 100rpx;
}
.w110 {
	width: 110rpx;
}
.h100 {
	height: 100rpx;
}
.h105 {
	height: 105rpx;
}
.w128 {
	width: 128rpx;
}
.h130 {
	height: 130rpx;
}
.w140 {
	width: 140rpx;
}
.h140 {
	height: 140rpx;
}
.w280 {
	width:  280rpx;
}
.w320 {
	width: 320rpx;
}
.w450 {
	width: 450rpx;
}
.w520 {
	width: 520rpx;
}
.w490 {
	width: 490rpx;
}
.w610 {
	width: 610rpx;
}
.w750 {
	width: 750rpx;
}
.lh100 {
	line-height: 100rpx;
}
//----------------- 字体大小 -----------------
.f15 {
	font-size: 15rpx;
}
.f20 {
	font-size: 20rpx;
}
.f25 {
	font-size: 25rpx;
}
.f28 {
	font-size: 28rpx;
}
.f30 {
	font-size: 30rpx;
}
.f35 {
	font-size: 35rpx;
}
.f40 {
	font-size: 40rpx;
}
.f42 {
	font-size: 42rpx;
}
.f50 {
	font-size: 50rpx;
}
.fw700 {
	font-weight: 700;
}
//----------------- 字体颜色 -----------------
.c-white {
	color: #FFFFFF;
}
.c-black {
	color: black;
}
.c-3f4c6e {
	color: #3f4c6e;
}
.c-b2 {
	color: #b2b2b2;
}
.c-66 {
	color: #666666;
}
.c-9d {
	color: #9d9d9d;
}
.c-f74948 {
	color: #f74948;
}
.c-3799ff {
	color: #3799ff;
}

//----------------- 盒模型 -----------------
.ovh {
	overflow: hidden;
}
.border-top {
	border-top-width: 1rpx;
}
.border-bottom {
	border-bottom-width: 1px;
}
.round4 {
	border-radius: 4rpx;
}
.round6 {
	border-radius: 6rpx;
}
.round8 {
	border-radius: 8rpx;
}
.round20 {
	border-radius: 20rpx;
}
.p0 {
	padding: 0;
}
.pv5 {
	padding: 5rpx 0;
}
.pv10 {
	padding: 10rpx 0;
}
.ml10 {
	margin-left: 10rpx;
}
.mt10 {
	margin-top: 10rpx;
}
.mt15 {
	margin-top: 15rpx;
}
.mb15 {
	margin-bottom: 15rpx;
}
.mb18 {
	margin-bottom: 18rpx;
}
.pv12 {
	padding: 12rpx 0;
}
.pv15 {
	padding: 15rpx 0;
}
.pv17 {
	padding: 17rpx 0;
}
.pv18 {
	padding: 18rpx 0;
}
.mh18 {
	margin: 0 18rpx;
}
.mr20 {
	margin-right: 20rpx;
}
.mt20 {
	margin-top: 20rpx;
}
.pv20 {
	padding: 20rpx 0;
}
.mb20 {
	margin-bottom: 20rpx;
}
.ml20 {
	margin-left: 20rpx;
}
.mt23 {
	margin-top: 23rpx;
}
.mb23 {
	margin-bottom: 23rpx;
}
.mr25 {
	margin-right: 25rpx;
}
.ml25 {
	margin-left: 25rpx;
}
.pl25 {
	padding-left: 25rpx;
}
.p25 {
	padding: 25rpx;
}
.mr30 {
	margin-right: 30rpx;
}
.ml30 {
	margin-left: 30rpx;
}
.mt30 {
	margin-top: 30rpx;
}
.mb30 {
	margin-bottom: 30rpx;
}
.mb36 {
	margin-bottom: 36rpx;
}
.ml35 {
	margin-left: 35rpx;
}
.ml36 {
	margin-left: 36rpx;
}
.ml40 {
	margin-left: 40px;
}
.ml45 {
	margin-left: 45rpx;
}
.mr45 {
	margin-right: 45rpx;
}
.mb50 {
	margin-bottom: 50rpx;
}
.pt60 {
	padding-top: 60rpx;
}
.mt60 {
	margin-top: 60rpx;
}
.mb70 {
	margin-bottom: 70rpx;
}
.mb80 {
	margin-bottom: 80rpx;
}
.mt100 {
	margin-top: 100rpx;
}
.mt120 {
	margin-top: 120rpx;
}
.mt200 {
	margin-top: 200rpx;
}
.pv14h17 {
	padding: 14rpx 17rpx;
}
.pv20h30 {
	padding: 20rpx 30rpx;
}
.pv26h36 {
	padding: 26rpx 36rpx;
}
.pv46h58 {
	padding: 46rpx 58rpx;
}
//----------------- 背景色 -----------------
.bg-white {
	background-color: white;
}
.bg-red {
	background-color: red;
}
.bg-f7 {
	background-color: #f7f7f7;
}
.bg-transparent {
	background-color: transparent;
}
//----------------- 文字排版 -----------------
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
.text-ellipsis-1 {
	/* #ifdef APP-PLUS-NVUE */
	lines: 1;
	text-overflow: ellipsis;
	/* #endif */
	/* #ifndef APP-PLUS-NVUE */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* #endif */
}
//----------------- 块排版 ----------------- 
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.left0 {
	left: 0;
}
.right0 {
	right: 0;
}
.bottom0 {
	bottom: 0;
}
.top0 {
	top: 0;
}
.flex {
	display: flex;
	flex-direction: column;
}

.flex1 {
	flex: 1;
}
.flex-direction-row {
	flex-direction: row;
}
.align-item-center {
	align-items: center;
}
.align-item-start {
	align-items: flex-start;
}
.align-item-end {
	align-items: flex-end;
}
.align-item-stretch {
	align-items: stretch;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
// .align-self-stretch {
// 	align-self: stretch;
// }